body {
}

.content {
	width:1280px;
	margin:0 auto;
	}

#backgroundpage {
	position: relative;
	width:100%;
	height:100vh;
	z-index: 1;
	overflow:auto;
	background-size:100% auto;
	text-align:center;
	margin:0 auto;   
	webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 6s;
}



#backgroundpage:after {
	content: "";
	position:absolute;
	background-image: url("../assert/cover.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;　
	
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);  
	-ms-filter: brightness(70%);
	-o-filter: brightness(70%);
	filter: brightness(70%);	
	z-index: -1;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	

}
 @-webkit-keyframes example {
    from {opacity:1;
    	  -webkit-filter: grayscale(100%);
    	  -moz-filter: grayscale(100%);
    	  -ms-filter: grayscale(100%);
    	  -o-filter: grayscale(100%);
    	  filter: grayscale(100%);
    	  filter: gray;	
    }
    to {
    	  /*-webkit-filter: brightness(70%);
    	  -moz-filter: brightness(70%);
    	  -ms-filter: brightness(70%);
    	  -o-filter: brightness(70%);
    	  filter: brightness(70%);*/

    	}
}











/*#cover img {
	width:100%;
	height:100vh;
}   */
/*@media screen and (min-width: 408px) {
    #backgroundpage {
    text-align:center;
	position:relative;
	overflow:hidden;
    height: 100vh;
    background-image: url("../assert/bird.jpg");
	background-repeat:no-repeat;
    background-size:100% auto;
    opacity: 0.7;
    }*/
/*#cover img{
	height: 100vh;
	weight: 100vh;
	overflow:hidden;
}*/
.header {
	width:1280px;
	margin:20px auto;
	
}

.alignleft{
	width:35%;
	float:left;
}

.branding {
	float:right;
	text-align:right;
}
.header-contact{
	text-align:left;
	width:65%;
	float:left;
	vertical-align: middle;
	color:#FFFFFF;

}

.header-contact a{
	color:#FFFFFF;
}
.title {
	margin-top:100px;
	z-index: 1;
}
.title h1 {
  	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	color:#FFFFFF;
	width:1024px;
	margin:0 auto;
}

#button-area a {
	margin-top:120px;
	margin-bottom: 80px;
	margin-left:12.5px;
	margin-right: 12.5px;
	text-decoration: none;
}

#button-area a:first-child {
	background-color: #b01d58;
	/*border-top: 5px solid #b01d58; */
	border-bottom: 5px solid #97033f;
	color: #ffffff;
}

#button-area a:last-child {
	background-color: #a6a6a6;
	/*border-top: 5px solid #aeaeae;*/
	border-bottom: 5px solid #959595;
	color: #ffffff;
}

#button-area a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
}
.btn-top {
	margin-top:30px;
	padding: 7px 10px 7px 10px;
    /*border-width: 0px 0px 3px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;*/
    display: inline-block;
    width: 250px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    /*white-space: nowrap;	*/
    font: 400 50px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

#buyer-area {
	height:330px;
}

#buyer-information {
	padding-top:20px;
	float:left;
	width: 70%;
	padding-left:15px;
	padding-right:15px;
	font: 400 100px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: rgba(0,0,0,0.7);
  	text-shadow: 3px 3px 3px #fff;
	font-size: 45px;
}

#buyer-form {
	float:right;
	width: 25%;
	padding: 15px;
	background-color:#ebebe0;
	
	font-family: "Questrial", sans-serif;
    font-size: 18px;
}

#submit1 {
	background-color: #a80446;
	/*border-top: 5px solid #b01d58; */
	border-bottom: 5px solid #97033f;
	border-left:0;
	border-right:0;
	color: #ffffff;
}

#submit2 {
	background-color: #a80446;
	/*border-top: 5px solid #b01d58; */
	border-bottom: 5px solid #97033f;
	border-left:0;
	border-right:0;
	color: #ffffff;
}

.btn {
	margin-top:20px;
}

.area {
	/*position:absolute;*/
	margin:0 auto;
	width:100%;
	margin-top: 40px;
	font-family: Bodoni MT W01 Bold, Times New Roman, serif;	font-weight: 200;
	font-size: 18px;
	vertical-align:middle;
}

.form-title {
	text-align:center;
	color:#FFFFFF;
}

#gallery {
	/*position:relative;*/
	margin:0 auto;
	width:100%;
	height:320px;
}

.picture img {
	width:100%;
}
.picture {
	position:relative;
	/*border:4px solid #FF6;*/
	overflow:hidden;
	float:right;
	width:33%;
	height:100%;
	margin-left:0px;
	margin-right:0px;
	/*background-repeat:no-repeat;*/
	/*background-size:100% 100%;*/
	
	
	/*-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;*/
}
.description {
	position:absolute;
	display:none;
		/*z-index: 2;*/
	/*margin 0 auto 0 auto;*/
	
	/*margin-top:-150px;*/
	color:#FFFFFF;
}
.picture:hover .three-image {
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-ms-filter: brightness(50%);
	-o-filter: brightness(50%);
	filter: brightness(50%);
	transition:all .2s ease-in-out;
	transform: scale(1.1);
	z-index: -1;
	
	/*-moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);*/
   }

.picture:hover div.description {
	position:absolute;
	display:block;
	margin-top: 150px;
	/*vertical-align:middle;*/
	font: 400 50px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: #FFFFFF;
  	text-shadow: 3px 3px 3px #fff;
  	font-size:20px;
  	z-index: 1;
	/*opacity:1;*/

	
}

#step {
	width:100%;
	height:300px;
	font:"Arial Black";
	font-size:30px;
}

#step h1 {
	text-align:center;
}

#step-left {
	width:50%;
	padding:20px;
	float:left;
}
#step-right{
	width:50%;
	padding:20px;
	float:left;
}

#seller-area {
	width:100%;
	position: relative;
	height:390px;
	z-index: 1;
	
}

#seller-area:after {
	content: "";
	position:absolute;
	background-image: url("../assert/tanya sold.jpg");
	background-repeat:no-repeat;
	opacity: 0.8;
	-webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);  
	-ms-filter: brightness(70%);
    -o-filter: brightness(70%);
    filter: brightness(70%);	
    background-size:cover;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

}


#seller-information {
	padding:15px;
	float:right;
	width: 70%;
	font: 400 100px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: #FFFFFF;
  	/*text-shadow: 3px 3px 3px #fff;*/
	font-size: 45px;
	z-index: 1;
}

#seller-form {
	padding:0 15px 15px 15px;
	float:left;
	width: 25%;
	height: 390px;
	background-color:rgba(0,0,0,0.4);
	/*background-color:#f2aab0;*/
	font-family: "Questrial", sans-serif;
    font-size: 18px;
}


#self-area:before {
	display: block;
	content: "";
	background-color: #ffe6ff;
	width: auto;
	margin: 0 auto;
}

#self-area {
	margin: 0 auto;
	margin-bottom:57px;
	overflow: hidden;
	height:400px;
}

#self-information {
	display: block;
	float: left;
	padding:15px;
	width: 64%;
}

#self-area h1 {
	font: 400 50px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: rgba(0,0,0,0.7);
  	text-shadow: 3px 3px 3px #fff;
  	font-size:30px;
  	text-align:center;
}

#self-area {
	font: 400 100px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	color: rgba(0,0,0,0.7);
  	text-shadow: 3px 3px 3px #fff;
  	font-size:25px;
}

#self-information-image {
	width:35%;
	float: right;
	display: block;
	margin-top: 2em;
	padding: 0 0 1em 2em;
	border-left: 1px solid #ffe6ff;
}

#self-information-image img {
	width:100%;
}







#comment-area {
	
	margin: 0 auto;
	padding: 15px;
	overflow: auto;
	position: relative;
	background-color: #ffe6ff;
	z-index: 1;
	height: 320px;
}

#comment-area:after {
	content: "";
	position: absolute;
	background-image: url("../assert/Testmonial Background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-ms-filter: brightness(60%);
	-o-filter: brightness(60%);
	filter: brightness(60%);
	z-index: -1;
}




#comment-information {
	display: block;
	margin: 1em 0 0 0;
}

#comment-information ul {
	list-style-type: none;
}

#comment-area h1 {
	width:1280px;
	height:100%;
	font-family: 'Brush Script MT', cursive;
	color: #FFFFFF;
	font-size: 2em;
	padding: 12px 12px 0 12px;
	overflow:hidden;
	margin: 0 auto;
}

#comment-information h2 {
	width:1280px;
	font-family: "Bodoni MT W01 Book", "Times New Roman", serif;
	font-size: 1.3em;
	color: #FFFFFF;
	text-align: right;
}



#contact-me {
	width: 1280px;
	text-align:center;
	padding: 0;
	overflow: auto;
}

#contact-me h1{
	font-size:15px;
}






#footer:before {
	display: block;
	content: "";
	width: auto;
	height: 1px;
	background-color: #ffe6ff;
}

#footer {
	text-align:center;
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	font-size:12px;
}









