<!DOCTYPE html>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>	
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="../javascript/landing_page.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>
	<div id="backgroundpage" class="container1">		
	
		
	<header id="masthead" class="site-header">
	<div class="header">
		<div class="row">
			<div class="site-header-inner">
					
				<div class="site-branding col-sm-6 col-xs-12">
					<span class="alignleft">
						<a href="" title="David Coffey" rel="home"><img src="../assert/Tanya's Logo.png" width="165" /></a>
					</span>

					<span class="header-contact">
						<i class="glyphicon glyphicon-phone"></i> : <a href="tel:905-878-8101">905-878-8101</a><br>
						<i class="glyphicon glyphicon-envelope"></i> :<a href="tanya@tanyafernandes.ca">tanya@tanyafernandes.ca</a>
						<!-- <a href="https://twitter.com/davidcoffeytime" target="blank"><i class="btn btn-block btn-social  btn-twitter"></i></a> 
						<a href="https://www.facebook.com/Emerging-Neighbourhoods-Toronto-189190131101727/" target="blank"><i class="fa fa-facebook fa-fw"></i></a>
						<a href="https://www.linkedin.com/in/david-coffey-98118417" target="blank"><i class="btn btn-block btn-social btn-linkedin"></i></a> -->
					</span>
				</div>
				
				<div class="branding col-sm-6 col-xs-12">
					<span class="alignright">
						<a href="" title="David Coffey" rel="home"><img src="../assert/Tanya company logo.jpg" width="165" /></a>
					</span>
				</div>

			</div>
		</div>
            
	</header>
	
	<div id="cover-area" class="col-xs-12">
		<div class="title">
			<h1>
				<span class="head col-xs-12">I am Tanya Fernandes</span>
			</h1>
		</div>
		
		<div id="button-area">
			<a id="buyer-button" href="#buyer-area" class="btn-top">WHY BUY WITH ME</a>
			<a id="seller-button" href="#step" class="btn-top">WHY SELL WITH ME</a>
		</div>
	</div>
	
	
	
	</div>
	<div class="content">
		<div id="buyer-area" class="area">
			
			
			<div id="buyer-information">
				"Milton is my home, and I can help find yours too. 
					<br>
					Customized Home Buyer's Guide to Milton
                    Find out which neighborhood is right for you ^_^."

			</div>
			<div>
				<form role="form" id="buyer-form">
					<p class="form-title">FIND YOUR FIT</p>
					<div id="buyer-name">
						<input type="text" placeholder="FULL NAME"  class="form-control">
					</div>
					<br>
					<div id="buyer-phone">
						<input type="number" placeholder="PHONE NUMBER" class="form-control">
					</div>
					<br>
					<div id="buyer-email">
						<input type="email" placeholder="EMAIL ADDRESS" class="form-control">
					</div>
					<div class="submit">
					<button id="submit1" type="submit" class="btn-top col-lg-12">GET MY FREE MILTON GUIDE</button>
					</div>
				</form>
			</div>
		</div>
		
		<div id="gallery">
			<article id="photo1" class= "picture">
				<div class="description">
					This is a description for photo 1.
				</div>
				<img src="../assert/images6.jpeg">
				
			</article> 
			<article id="photo2" class= "picture"> 
				<div class="description">
					This is a description for photo 2.
				</div>
				<img src="../assert/images9.jpeg">
				
			</article> 
			
			<article id="photo3" class= "picture">
				<div class="description">
					This is a description for photo 3.
				</div> 
				<img src="../assert/images4.jpeg">
				
			</article>
		</div>
		
		<div id="step">
			<h1>
				Be an Educated Seller
			</h1>
			<span id="step-left">Step 1. Start by educating yourself on the selling process
				  <br>
				  Step 2. Working with the right agent
			      <br>
				  Step 3. Price Smart
				  <br>
				  Step 4 Preparing to wow buyers
			</span>
			
			<span id="step-right">Step 5 Getting the word out
				  <br>
				  Step 6 Showing it off
				  <br>
				  Step 7 Negotiate like a master
                  <br>
				  Step 8 Wrapping up the details
			</span>
		</div>
</div>
<div id="seller-area" class="area">
	<div class="content">
	<form role="form" id="seller-form">
		<p class="form-title">FIND out what's the best value for your home</p>
		<div id="seller-name">
			<input type="text" class="form-control" placeholder="FULL NAME">
		</div>
		<br>
		<div id="seller-email">
			<input type="number" class="form-control" placeholder="PHONE NUMBER">
		</div>
		<br>
		<div id="seller-phone">
			<input type="email" class="form-control" placeholder="EMAIL ADDRESS">
		</div>
		<br>
		<div id="seller-name">
			<input type="text" class="form-control" placeholder="FULL NAME">
		</div>
		<div class="submit">
			<button id="submit2" type="submit" class="btn-top col-lg-12">SIGH UP NOW</button>
		</div>
	</form>
	
	<div id="seller-information">
		  &nbsp; DIGNED TO SELL PROGRAM
		<br>
		"My Interior Design Skill can help clients like successfully supersede your real estate goals
		Let me help you sell faster and bigger^_^."
	</div>
	</div>
</div>

<div class="content">
		
	<div id="self-area" class="area">
		<span id="self-information">
			<h1>About me</h1>
			<p>
				I operate a full service real estate business, assisting my clients reach their real estate goals. Being part of the Interior Design industry she seamlessly integrates the two by offering value added services to her clientele.I am an active member of the community I live in, endorsing the Milton Chamber of Commerce & supporting local businesses. I am a mother of two, and I understand the importance of a great family life, setting personal & professional goals that are realistic & fulfilling on a mental, physical & spiritual level.I believe in constantly upgrading & updating my knowledge on the real estate market, giving my clients an advantage by professing strong negotiating skills at the table.
			</p>
		</span>
		<span id="self-information-image">
			<img src="../assert/Tanya's Portrait.png" alt="self-information-image" />
		</span>
	</div>
</div>
	<div id="comment-area" class="area">
		<div id="comment-information">
			<h1>Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling.</h1>
		</div>
	</div>
	
	<div id="contact-me">
		<h1> TANYA &nbsp; &nbsp; AGENT</h1>
	</div>

	<div id="footer">
		<p>&copy;BORIS KHOLODOV, 2015. ALL CONTENT SUBJECT TO ERRORS AND OMISSIONS. *BY NUMBER OF MLS LISTINGS SOLD IN 2014 IN DOWNTOWN/CENTRAL (DISTRICTS C01/C08/C02/C09 COMBINED).</p>
	</div>
</body>