<!DOCTYPE html>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
<body>
	<div class="container">
		<article id="backgroudpage">
			<div class="btn">
			<button>Button1</button>
			<button>Button2</button>
			</div>

		</article>
	</div>
	
	<div id="buyer-area" class="area">
		
		
		<article id="buyer-information">
			Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the life of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, the Dark wizard who intends to become immortal, overthrow the Ministry of Magic, subjugate non-magic people and destroy anyone who stands in his way.

Since the release of the first novel, Harry Potter and the Philosopher's Stone, on 30 June 1997, the books have gained immense popularity, critical acclaim and commercial success worldwide. They attracted a wide adult audience, and have remained one of the preeminent cornerstones of young adult literature.[3] The series has also had some share of criticism, including concern about the increasingly dark tone as the series progressed, as well as the often gruesome and graphic violence depicted in the series. As of July 2013, the books have sold more than 450 million copies worldwide, making the series the best-selling book series in history, and have been translated into seventy three languages.[4][5] The last four books consecutively set records as the fastest-selling books in history, with the final instalment selling roughly eleven million copies in the United States within twenty four hours of its release.

A series of many genres, including fantasy, drama, coming of age and the British school story (which includes elements of mystery, thriller, adventure, horror and romance), it has many cultural meanings and references.[6] According to Rowling, the main theme is death.[7] There are also many other themes in the series, such as prejudice, corruption, and madness.[8]
		</article>
		
		<article id="buyer-form">
			<div id="buyer-name" class="buyer-form-control">
				Name:
				<input></input>
			</div>
			
			<div id="buyer-email" class="buyer-form-control">
				Email:
				<input></input>
			</div>
			
			<div id="buyer-phone" class="buyer-form-control">
				Phone:
				<input></input>
			</div>
		</article>
	</div>
	<div class="photo-container">
		<div id="gallery">
    		<article id="photo1" class= "photos"> 
				<p class="description">
					This is a description for photo 1.
				</p>
			</article> 
			<article id="photo2" class= "photos"> 
				<p class="description">
					This is a description for photo 2.
				</p>
			</article> 
			
			<article id="photo3" class= "photos"> 
				<p class="description">
					This is a description for photo 3.
				</p>
			</article> 
		</div>
		<div>
			<a class="button-up">
				button3
			</a>
			<a class="button-down">
				button4
			</a>
		</div>
	</div>
		<div id="seller-area" class="area">
			<article id="seller-form">
				<div id="seller-name" class="seller-form-control">
				Name:
				<input></input>
			</div>
			
			<div id="seller-email" class="seller-form-control">
				Email:
				<input></input>
			</div>
			
			<div id="seller-phone" class="seller-form-control">
				Phone:
				<input></input>
			</div>

			</article>
			<article id="seller-information">
Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the life of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, the Dark wizard who intends to become immortal, overthrow the Ministry of Magic, subjugate non-magic people and destroy anyone who stands in his way.

Since the release of the first novel, Harry Potter and the Philosopher's Stone, on 30 June 1997, the books have gained immense popularity, critical acclaim and commercial success worldwide. They attracted a wide adult audience, and have remained one of the preeminent cornerstones of young adult literature.[3] The series has also had some share of criticism, including concern about the increasingly dark tone as the series progressed, as well as the often gruesome and graphic violence depicted in the series. As of July 2013, the books have sold more than 450 million copies worldwide, making the series the best-selling book series in history, and have been translated into seventy three languages.[4][5] The last four books consecutively set records as the fastest-selling books in history, with the final instalment selling roughly eleven million copies in the United States within twenty four hours of its release.

A series of many genres, including fantasy, drama, coming of age and the British school story (which includes elements of mystery, thriller, adventure, horror and romance), it has many cultural meanings and references.[6] According to Rowling, the main theme is death.[7] There are also many other themes in the series, such as prejudice, corruption, and madness.[8]			</article>
		</div>
	</div>
</body>


今天天气很好。