<!DOCTYPE html>
<title>
</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="../javascript/landing_page.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
<body>
	<div id="cover-page">		
		<header>
			<div id="kid" class="header" style="margin: 20px auto; width:1280px;">
				<div class="row">
				<div id ="tanya-branding" class="site-branding col-sm-6 col-xs-12">
					<span id="tanya-logo">
						<img src="../assert/Tanya's Logo.png" width="165" />
					</span>
					<span id="tanya-information" >
						<i class="glyphicon glyphicon-phone"></i> : <a href="tel:905-878-8101">905-878-8101</a><br>
						<i class="glyphicon glyphicon-envelope"></i> :<a href="tanya@tanyafernandes.ca">tanya@tanyafernandes.ca</a>
							<!-- <a href="https://twitter.com/davidcoffeytime" target="blank"><i class="btn btn-block btn-social  btn-twitter"></i></a> 
							<a href="https://www.facebook.com/Emerging-Neighbourhoods-Toronto-189190131101727/" target="blank"><i class="fa fa-facebook fa-fw"></i></a>
							<a href="https://www.linkedin.com/in/david-coffey-98118417" target="blank"><i class="btn btn-block btn-social btn-linkedin"></i></a> -->
					</span>
				</div>
					
				<div id="tanya-company-logo" class="col-sm-6 col-xs-12">
					<img src="../assert/Tanya company logo.jpg" width="165" />
				</div>
			</div>
			</div>
	
		<div id="cover-area" class="col-xs-12">
			<div id="title">
				<br>
				I am Tanya Fernandes
			</div>
			
			<div id="button-area" class="pink-button">
				<a id="buyer-button" href="#buyer-area" class="btn-top">WHY BUY WITH ME</a>
				<a id="seller-button" href="#step" class="btn-top">WHY SELL WITH ME</a>
			</div>
		</div>
		
		<div id="cover-image">
			<img id="image-test" src="../assert/cover.jpg"/>
		</div>		
		
		<!-- <ul id="cover-image" class="" data-orbit data-options="animation_speed:600;pause_on_hover: false,timer_speed:500, timer: true,">
            <li>

                    <a href="/Property/paris-7th-properties-top-floor-apartment-facing-the-eiffel-tower/PGMU">
                        <img class="grays-scale-image grayscale" src="http://d3dpze855r5b70.cloudfront.net/homePagePhotos/2016/April/7af013e8-b391-49d7-abb3-30d75c79ee31-60bd4024-9500-406d-a2ad-5341570ed159CD.jpg" />
                        <img class="color-scale-image" src="http://d3dpze855r5b70.cloudfront.net/homePagePhotos/2016/April/7af013e8-b391-49d7-abb3-30d75c79ee31-60bd4024-9500-406d-a2ad-5341570ed159CD.jpg" />
                    </a>

            </li>
            <li>

                    <a href="/Property/atherton-properties-contemporary-italian-villa-in-atherton/DCOU">
                        <img class="grays-scale-image grayscale" src="http://d3dpze855r5b70.cloudfront.net/homePagePhotos/2016/April/cd4726a0-f81b-4b6b-b5db-2a019394efaa-502ef951-3333-43ff-ab34-a07b2a1e61daCD.jpg" />
                        <img class="color-scale-image" src="http://d3dpze855r5b70.cloudfront.net/homePagePhotos/2016/April/cd4726a0-f81b-4b6b-b5db-2a019394efaa-502ef951-3333-43ff-ab34-a07b2a1e61daCD.jpg" />
                    </a>

            </li>
          </ul> -->
	

		
		
		
	</div>
	
	
	
	
	
	
		
	
	
	
	
	
	
	
	
	
	<div class="content">
		<div id="buyer-area" class="area">
			<div id="e-book">
			<img src="../assert/Drawing.png"/>
			</div>
			<div id="buyer-information">
				Milton is my home, and I can help find yours too. 
					<br>
					Customized Home Buyer's Guide to Milton
                    Find out which neighborhood is right for you.

			</div>
			<div>
				<form role="form" id="buyer-form">
					<p class="form-title">FIND YOUR FIT</p>
					<div id="buyer-name">
						<input type="text" placeholder="FULL NAME"  class="form-control">
					</div>
					<br>
					<div id="buyer-phone">
						<input type="number" placeholder="PHONE NUMBER" class="form-control">
					</div>
					<br>
					<div id="buyer-email">
						<input type="email" placeholder="EMAIL ADDRESS" class="form-control">
					</div>
					<div class="submit">
					<button id="submit1" type="submit" class="btn-top col-lg-12">GET MY FREE MILTON GUIDE</button>
					</div>
				</form>
			</div>
		</div>
		
		<div id="gallery">
			<article id="photo1" class= "picture">
				<div class="description">
					This is a description for photo 1.
				</div>
				<img class="three-image" src="../assert/images6.jpeg">
				
			</article> 
			<article id="photo2" class= "picture"> 
				<div class="description">
					This is a description for photo 2.
				</div>
				<img class="three-image" src="../assert/images9.jpeg">
				
			</article> 
			
			<article id="photo3" class= "picture">
				<div class="description">
					This is a description for photo 3.
				</div> 
				<img class="three-image" src="../assert/images4.jpeg">
				
			</article>
		</div>
		
		<div id="step">
			<h1>
				Be an Educated Seller
			</h1>
			<span id="step-left">Step 1. Educating yourself on the selling process
				  <br>
				  Step 2. Working with the right agent
			      <br>
				  Step 3. Price Smart
				  <br>
				  Step 4 Preparing to wow buyers
			</span>
			
			<span id="step-right">Step 5 Getting the word out
				  <br>
				  Step 6 Showing it off
				  <br>
				  Step 7 Negotiate like a master
                  <br>
				  Step 8 Wrapping up the details
			</span>
		</div>
</div>
<div id="seller-area" class="area">
	<div class="content">
	<form role="form" id="seller-form">
		<p class="form-title">FIND out what's the best value for your home</p>
		<div id="seller-name">
			<input type="text" class="form-control" placeholder="FULL NAME">
		</div>
		<br>
		<div id="seller-email">
			<input type="number" class="form-control" placeholder="PHONE NUMBER">
		</div>
		<br>
		<div id="seller-phone">
			<input type="email" class="form-control" placeholder="EMAIL ADDRESS">
		</div>
		<br>
		<div id="seller-address">
			<input type="text" class="form-control" placeholder="ADDRESS">
		</div>
		<div class="submit">
			<button id="submit2" type="submit" class="btn-top col-lg-12">SIGH UP NOW</button>
		</div>
	</form>
	
	<div id="seller-information">
		  &nbsp;  D'ZIGNED TO SELL PROGRAM
		<br>
		My Interior Design Skill can help clients successfully supersede your real estate goals.
		<br>
		Let me help you sell faster and bigger.
	</div>
	</div>
</div>

<div class="content">
		
	<div id="self-area" class="area">
		<span id="self-information">
			<h1>About me</h1>
			<p>
				I operate a full service real estate business, assisting my clients reach their real estate goals. Being part of the Interior Design industry I seamlessly integrate the two by offering value added services to my clientele.I am an active member of the community I live in, endorsing the Milton Chamber of Commerce & supporting local businesses. I am a mother of two, and I understand the importance of a great family life, setting personal & professional goals that are realistic & fulfilling on a mental, physical & spiritual level.I believe in constantly upgrading & updating my knowledge on the real estate market, giving my clients an advantage by professing strong negotiating skills at the table.
			</p>
		</span>
		<span id="self-information-image">
			<img src="../assert/Tanya's Portrait.png" alt="self-information-image" />
		</span>
	</div>
</div>
	<div id="comment-area" class="area">
		<div id="comment-information">
			<h1></h1>
		</div>
	</div>
	
	<div id="contact-me">
		<h1> TANYA &nbsp; &nbsp; AGENT</h1>
	</div>

	<div id="footer" class="content">


	
	
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <div style='overflow:hidden;height:220px;width:400px;float:right;'>
        <div id='gmap_canvas' style='height:220px;width:400px;'>
        </div>
        <div>
            <small><a href="http://embedgooglemaps.com">
                embed google maps</a>
            </small>
        </div>
    <div>
    <small><a href="http://www.proxysitereviews.com/">proxy sites</a></small>
        </div>
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
        
    </div>
    
    <script type='text/javascript'>
    
    function init_map(){
    var myOptions = {
    zoom:15,center:new google.maps.LatLng(43.518515559442065,-79.87909221376954),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.518515559442065,-79.87909221376954)});infowindow = new google.maps.InfoWindow({content:'<strong>475 Main St. E. Milton, ON L9T 1R1</strong><br>475 Main St. E. Milton, ON<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
        
    </script>


</div>	
	
	
	
	
</body>